@using QuizApplicationMVC5.viewModels
@{
    UserVM userConnected = Session["UserConnected"] as UserVM;
    QuizVM quizSelected = Session["SelectedQuiz"] as QuizVM;

}


    @if (userConnected != null)
    {
        <div class="row">

            <div class="col-md-4" style="margin-top: 12px;">
                <img src="../../images/user.png" class="img-circle" style="width: 10%;" />
                <span>  @userConnected.FullName</span>
            </div>

            <div class="col-md-4" style="margin-top: 15px;">

                @if ( quizSelected != null && !string.IsNullOrEmpty(quizSelected.QuizName))
                {
                    <span> <b>Quiz Seleccionado :</b> @quizSelected.QuizName</span>
                }
                else
                {
                    <span> <b>Por favor seleccione un Quiz </b></span>
                }

            </div>

            <div class="col-md-4" style="margin-top: 15px;">
                <span> <b>Fecha / Hora :</b> @DateTime.Now</span>
            </div>

        </div>
    }

   


