@model QuizApplicationMVC5.viewModels.UserVM
@{
    ViewBag.Title = "User";
}

<style type="text/css">
    body {
        background-image: url("../../images/1.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .Choices label {
        background-color: #fff;
        padding: 7px 20px;
        border-radius: 10px;
        display: inline-block;
        margin-bottom: 8px;
        font-weight: bold;
        border: 1px solid #d0c9c9;
    }

    div .answer, .radio-inline {
        font-weight: bold;
    }
</style>
<div class="panel panel-primary" style="width: 37%; margin: 10% 32%;">
    <div class="panel-heading">Login</div>
    <div class="panel-body">
        @using (Html.BeginForm("GetUser", "Quizz", FormMethod.Post))
        {
            @Html.EditorFor(c => c.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Username ...", @style = "width:100%; margin-left: 56px;" } })<br />
            @Html.EditorFor(c => c.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password ...", @type = "password", @style = "width:100%; margin-left: 56px;" } })<br />
            <button type="submit" id="Enter" class="btn btn-primary btn-lg" style="width:100%;"><span class="glyphicon glyphicon-user"></span>   Enter</button>
        }
    </div>
    @if (ViewBag.Msg != null)
    {
        <div class="well well-sm well-danger"> @ViewBag.Msg </div>
    }
</div>
